<div class="wrapper">
  <div>
    <p>Виберіть валюту</p>
    <div class="wrapper2">
      <p></p>
      <div class="box4">
        <app-mycombobox (onItemSelected)="setFrom($event)" [name]="'from'"></app-mycombobox>
      </div>
      <div class="box4">
        <app-mycombobox (onItemSelected)="setTo($event)" [name]="'to'"></app-mycombobox>
      </div>
    </div>
  </div>
  <div>
    <p>Сума</p>
    <form #selectedForm="ngForm">
      <p *ngIf="from != '' && to != '' && rezAPI.convert">Курс {{from}} - {{to}} = {{rezAPI.convert.info.rate}}</p>
      <p>Введіть суму</p>
      <input type="number" class="form-control" id="name" name="name"
             [(ngModel)]="val1_input"
             (change)="onClick()"
      >
      <br>
      <input type="submit" value="Обрахувати" (click)="onClick()">
<!--      <input type="submit" value="GET" (click)="testAPI()">-->
    </form>

  </div>
  <div>
    <p>Результат:</p>
    <p *ngIf="rezAPI.convert">{{rezAPI.convert.result}}</p>
  </div>
</div>
