/* You can add global styles to this file, and also import other style files */
.mainDiv {
  padding: 0.5em;
  width: 80%;
  margin: 0 auto;
  background: rgb(244,244,245);
  border: 1px solid;
  text-align: center;
}
